In [26]:
import pandas as pd
import numpy as np

In [6]:
data = [i for i in range(10, 60 ,10)]
index = ['a', 'b', 'c', 'd', 'e']

ser = pd.Series(data, index=index)

In [7]:
ser

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [12]:
ser['b']

np.int64(20)

In [15]:
ser[1]

/tmp/ipykernel_13257/4267038266.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser[1]

np.int64(20)

In [16]:
# Создание Series с отсутствующими значениями
data_with_nan = [10, 20, None, 40, 50]
series_with_nan = pd.Series(data_with_nan, index=index)
print("Series с отсутствующими значениями:")
print(series_with_nan)

Series с отсутствующими значениями:
a    10.0
b    20.0
c     NaN
d    40.0
e    50.0
dtype: float64

In [17]:
df = pd.read_csv('/home/ilya/github/DE_course_repo/python_projects/Pnadas/data/data.csv')
df

   player_id  pts_per_game  reb_per_game
0     201939          27.3           5.3
1     201142          26.0           6.4
2     202691          21.5           3.8
3     202326          16.3           8.2

In [24]:
# Создание первого объекта Series
points_per_game = pd.Series(
    [27.3, 26.0, 21.5, 16.3],
    index=[201939, 201142, 202691, 202326],
    name='pts_per_game'
)

# Создание второго объекта Series
rebounds_per_game = pd.Series(
    [5.3, 6.4, 3.8, 8.2],
    index=[201939, 201142, 202691, 202326],
    name='reb_per_game'
)

merged_df = pd.concat([points_per_game, rebounds_per_game], axis=1)

In [25]:
merged_df

        pts_per_game  reb_per_game
201939          27.3           5.3
201142          26.0           6.4
202691          21.5           3.8
202326          16.3           8.2

In [28]:
df_types = pd.DataFrame({
    'A': ['1', '2', '3', '4'],
    'B': ['10.1', '20.2', '30.3', '40.4']
})

# Изменение типа данных столбца
df_types['A'] = df_types['A'].astype(float)
df_types['B'] = df_types['B'].astype(float)
print("\nИзменение типов данных:")
print(df_types)

Изменение типов данных:
     A     B
0  1.0  10.1
1  2.0  20.2
2  3.0  30.3
3  4.0  40.4

In [29]:
df = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'C', 'A'],
    'Values': [10, 20, 15, 25, 10, 30]
})

In [33]:
df.groupby('Category').agg(
    category_sum=('Values', 'sum'),
    category_mean=('Values', 'mean'),
    category_count=('Values', 'count')

)

          category_sum  category_mean  category_count
Category
A                   55      18.333333               3
B                   45      22.500000               2
C                   10      10.000000               1

In [34]:
df.groupby('Category')['Values'].agg(lambda x: x.max() - x.min())

Category
A    20
B     5
C     0
Name: Values, dtype: int64

In [35]:
df.groupby('Category')['Values'].transform(lambda x: x.max() - x.min())

0    20
1     5
2    20
3     5
4     0
5    20
Name: Values, dtype: int64

In [36]:
df.groupby('Category')['Values'].apply(lambda x: x.max() - x.min())

Category
A    20
B     5
C     0
Name: Values, dtype: int64

In [37]:
df.groupby('Category')['Values'].diff()

0     NaN
1     NaN
2     5.0
3     5.0
4     NaN
5    15.0
Name: Values, dtype: float64